@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap')

$main: #0169F5
$pri: #528DFF
$sec: #5E9EFF
$btnColor: #205BCD
$error: #A00000
$dark: #141414
$light: #ffffff
$bg: #F0F0F0
$para: #2D2D2D

*
  margin: 0
  padding: 0
  box-sizing: border-box
  background: none
  border: none
  outline: none
  font-family: 'Lato', sans-serif
  text-decoration: none
  list-style: none

@mixin flex($justify)
  display: flex
  justify-content: $justify
  align-items: center

@mixin grid($column)
  display: grid
  grid-template-columns: $column
  grid-gap: 10px

@mixin imageBg()
  background-position: center
  background-size: cover
  background-repeat: no-repeat

@mixin wrapper()
  max-width: 1300px
  margin: 0 auto
  padding: 0 20px

@mixin trans()
  // transition: 1s cubic-bezier(0,1,0,1)
  transition: .4s

@mixin button()
  padding: .4rem 1rem
  font-size: 14px
  background-color: $pri
  color: $light
  border-radius: 10px
  cursor: pointer

@mixin dark($opacity)
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0
  background-color: rgba(#000000, $opacity)

@mixin bgImage()
  background-position: center
  background-size: cover
  background-repeat: no-repeat

@mixin member($size)
  .image
    height: $size
    border-radius: 10px
    @include imageBg()
    position: relative

    .info
      position: absolute
      left: 5px
      bottom: 5px
      border-radius: 10px
      background-color: rgba($dark, .78)
      backfrop-filter: blur(10px)
      min-width: 230px
      padding: .7rem

      .name, p, .phone, strong
        color: $light

      .name
        font-size: 17px

      p
        font-size: 14px
        margin-bottom: 1rem

      .phone
        font-size: 12px

body
  background-color: #F2F2F2
  --swiper-theme-color: #294186

section
  padding: 3rem 0

  &.bg
    padding: 3rem 0
    background-color: $bg

h4
  font-style: normal
  font-weight: bold
  font-size: 16px
  line-height: 19px
  display: flex
  align-items: center
  color: $dark

p
  font-style: normal
  font-weight: normal
  font-size: 18px
  line-height: 29px
  text-align: justify
  color: $para

button
  transition: 400ms cubic-bezier(0,0,0,1)
  cursor: pointer

  &.animate
    transform: scale(0.95)

.title
  font-style: normal
  font-weight: bold
  font-size: 48px
  line-height: 58px
  text-align: center
  color: $main
  margin-bottom: 2rem

.wrapper
  @include wrapper()

.swiper-pagination-bullet
  height: 5px
  width: 5px
  border-radius: 10px !important
  @include trans()

  &.swiper-pagination-bullet-active
    width: 20px

.main
  @include flex($justify: space-between)
  align-items: flex-start
  padding: 10px

  header
    position: sticky
    top: 10px
    width: 350px
    height: 98vh
    background: linear-gradient(180deg, #373737 0%, #1A1A1A 100%)
    padding: 1rem
    border-radius: 10px

    .inner
      @include flex($justify: space-between)
      flex-direction: column
      width: 100%
      height: 100%

      .top-sec, .btm-sec
        width: 100%

      .add-new-customer
        padding: .5rem
        background-color: rgba($btnColor, .7)
        color: $light
        @include flex($justify: flex-start)
        font-size: 18px
        width: 100%
        border-radius: 10px
        text-transform: uppercase
        cursor: pointer
        @include trans()

        &:hover
          background-color: rgba($btnColor, 1)
          box-shadow: 0 4px 10px rgba($dark, .8)
          transform: translateY(-2px) scale(1.01)

        img
          width: 40px
          width: 40px
          object-fit: contain

      .logo
        padding: 1.4rem 0 0
        @include flex($justify: center)

        img
          width: 150px

      .line
        height: 1px
        width: 100%
        background-color: #8E8E8E
        margin: 1.5rem 0

      .navlinks
        padding: 0 .5rem

        .link
          button
            @include flex($justify: flex-start)
            color: $light
            font-size: 18px
            padding: 1rem
            width: 100%
            border-radius: 10px
            cursor: pointer

            &:hover
              background-color: rgba($light, .1)

            &.active
              background-color: $sec

            img
              margin-right: 10px
              height: 22px
              width: 22px
              object-fit: contain

  .body-section
    max-width: 1300px
    width: 100%
    margin: 0 auto
    padding: 0 10px

    .header-nav
      position: sticky
      top: 0px
      @include flex($justify: space-between)
      padding: 1rem 1rem 0
      background-color: $light
      box-shadow: 0 4px 10px rgba($dark, .1)
      margin-bottom: 20px
      border-radius: 0 0 10px 10px
      z-index: 20

      .nav-links
        @include flex($justify: flex-start)

        li
          margin: 0 40px
          position: relative

          &.active
            &::after
              background-color: $pri

          &::after
            content: ''
            position: absolute
            left: 50%
            top: 150%
            transform: translate(-50%, -50%)
            width: 80px
            height: 5px
            border-radius: 10px

          button
            cursor: pointer
            svg
              height: 30px
              width: 30px

      .mini-profile
        @include flex($justify: flex-end)
        text-align: right
        cursor: pointer
        padding-bottom: 10px

        .details
          margin-right: 10px
          .greet
            font-size: 14px
            margin-bottom: 5px

          .name
            font-size: 16px
            font-weight: 600

        img
          height: 60px
          width: 60px
          object-fit: cover
          border-radius: 10px

    .profile
      .inner
        @include grid($column: 3fr 1fr 1fr)

        .card-profile
          background: linear-gradient(76.21deg, rgba(32, 91, 205, 0.96) 0%, rgba(94, 158, 255, 0.96) 100%), url(../../assets/images/profile-card-bg.png)
          @include bgImage()
          border-radius: 10px
          padding: 1rem
          position: relative
          @include flex($justify: space-between)
          flex-direction: column
          align-items: flex-start
          width: 100%

          .verified
            position: absolute
            top: 10px
            right: 10px
            padding: .3rem .7rem
            font-size: 12px
            color: $light
            background-color: #197B2F
            border-radius: 10px

          .card-profile-head
            @include flex($justify: flex-start)
            width: 100%

            .user-image
              height: 90px
              width: 90px
              border-radius: 10px
              object-fit: cover

            .details
              color: $light
              margin-left: 10px

              .name
                font-size: 20px
                text-transform: uppercase

              .phone
                font-size: 16px
                font-weight: 400

              .user-id
                margin-top: 10px
                font-size: 14px
                font-weight: 400

          .card-profile-footer
            width: 100%
            margin-top: 2rem
            @include flex($justify: space-between)

            .total-investment, .total-interest
              @include flex($justify: flex-start)

              img
                height: 40px
                width: 40px
                object-fit: contain

              .details
                margin-left: 10px
                color: $light

                .content-title
                  font-weight: 600

                .user-id
                  font-weight: 400

        .qr
          padding: 1rem
          @include flex($justify: center)
          flex-direction: column
          box-shadow: 0 0 10px rgba($dark, .1)
          border-radius: 10px
          background-color: $light

          img
            height: 120px
            width: 120px
            object-fit: cover
            margin-bottom: 20px

          .scan-qr
            font-size: 18px
            text-align: center
            font-weight: 600

        .total
          .total-owner, .total-customer
            padding: 1rem
            @include flex($justify: center)
            flex-direction: column
            box-shadow: 0 0 10px rgba($dark, .1)
            border-radius: 10px
            background-color: $light

            h3
              @include flex($justify: flex-start)
              margin-bottom: 10px
              font-size: 15px

              img
                height: 16px
                width: 16px
                object-fit: contain
                margin-right: 10px

            .big-text
              font-size: 50px

          .total-customer
            margin-top: 20px

  .all-other-content
    @include grid($column: 1.45fr 1fr)
    margin-top: 10px

    .ads
      height: 600px
      width: 100%
      border-radius: 10px
      position: sticky
      top: 100px
      overflow: hidden

      img
        width: 100%
        height: 100%
        object-fit: cover

    .all-content
      overflow-x: hidden

      .banner
        padding: .5rem 0
        height: 300px
        width: 100%

        .mySwiper
          height: 100%
          width: 100%

        .swiper-slide
          height: 100%
          width: 100%
          @include bgImage()
          border-radius: 10px

      .rin
        padding: .5rem 0

        &.add-owner-page
          .list
            .item
              img
                height: 70px
                width: 70px

        &.owner-page
          .list
            .item
              img
                height: 100px
                width: 100px

            .details
              width: 100%

              .bottom-sec
                width: 100%
                @include flex($justify: flex-end)
                justify-content: flex-end !important

                button
                  @include flex($justify: center)
                  padding: .4rem .6rem
                  border-radius: 4px
                  background-color: $main
                  color: $light

                  svg
                    height: 15px
                    width: 15px
                    margin-right: 10px

        .search-card
          width: 100%
          @include flex($justify: flex-start)
          margin-bottom: 20px

          input
            height: 60px
            width: 100%
            padding: 1rem
            font-size: 18px
            border: 2px solid rgba($dark, .2)
            border-radius: 10px 0 0 10px
            @include trans()
            border-right-color: $main

            &:focus
              border-color: $main

          button
            height: 60px
            width: 70px
            border-radius: 0 10px 10px 0
            @include flex($justify: center)
            background-color: $main
            cursor: pointer

            svg
              height: 25px
              width: 25px

        .filters
          @include flex($justify: space-between)
          margin-bottom: 1rem

          .filter-btn
            @include flex($justify: flex-start)
            position: relative

            .indi-div
              position: absolute
              left: 0
              top: 0
              transform: translateX(-110%)
              background-color: rgba($dark, .3)
              height: 100%
              width: 100%

            .indicator
              position: absolute
              bottom: 0
              left: 0
              // transform: translateX(-300%)
              height: 3px
              background-color: $main
              transition: .4s

            li
              padding: .35rem .6rem
              margin-right: 10px
              border-radius: 5px
              font-size: 16px
              color: $dark
              text-align: center
              position: relative
              transition: .4s

              &::after
                content: ''
                position: absolute
                top: 50%
                left: 50%
                transform: translate(-50%, -50%)
                height: 100%
                width: 0%
                background-color: $main
                border-radius: 10px
                z-index: -1
                transition: .4s

              &.active
                color: $light

                &::after
                  width: 100%

        .list
          .add-owner-form
            position: relative

            &::after
              content: ''
              position: absolute
              left: 50%
              top: 1%
              transform: translate(-50%, -50%) rotate(45deg)
              height: 30px
              width: 30px
              background-color: $light
              border-radius: 4px

            h3
              font-size: 20px

            .input-groups-section
              overflow: hidden

              .inner-group
                @include flex($justify: flex-start)
                align-items: flex-start

                // transform: translateX(-66.66%)
                transform: translateX(0%)
                @include trans()

              .input-groups
                width: 100%
                margin: 0 .5rem
                padding: 1rem
                border-radius: 10px
                background-color: $light
                box-shadow: 0 4px 10px rgba($dark, .1)

                .groups
                  @include flex($justify: space-between)

                  .group
                    &:nth-child(1)
                      margin-right: 5px

                    &:nth-child(2)
                      margin-left: 5px

                .image-upload
                  margin-top: 2rem
                  border: 2px solid rgba($dark, .2)
                  border-radius: 10px

                  label
                    @include flex($justify: flex-start)

                    h3
                      font-size: 16px
                      color: rgba($dark, .6)
                      font-weight: 400
                      margin-left: 10px

                  .icon
                    background-color: $pri
                    @include flex($justify: center)
                    height: 50px
                    width: 50px
                    border-radius: 8px 0 0 8px

                    svg
                      height: 30px
                      width: 30px

                  input
                    width: 100%
                    height: 50px

                .group
                  position: relative
                  margin-top: 2rem
                  width: 100%

                  &.error
                    margin-bottom: 3rem

                    .form-input-label
                      color: $error

                    input
                      border: 2px solid rgba($error, .8)

                  .form-input-label
                    position: absolute
                    left: 10px
                    top: 50%
                    transform: translateY(-50%)
                    font-size: 16px
                    color: rgba($dark, .6)
                    @include trans()
                    pointer-events: none

                    &.shrink
                      top: -13px
                      left: 0
                      font-weight: 600
                      transform: translateY(-50%) scale(0.9)

                  input
                    width: 100%
                    height: 50px
                    border-radius: 10px
                    border: 2px solid rgba($dark, .2)
                    padding: 10px
                    font-size: 18px
                    @include trans()

                    &:focus
                      border: 2px solid $sec

                    &:focus ~ .form-input-label
                      color: $sec
                      top: -13px
                      left: 0
                      font-weight: 600
                      transform: translateY(-50%) scale(0.9)

                  p
                    position: absolute
                    bottom: -25px
                    left: 4px
                    font-size: 12px
                    @include flex($justify: flex-start)
                    color: $error

                    i
                      margin-right: 5px

                .button-group
                  @include flex($justify: center)
                  margin-top: 2rem

                  button
                    padding: 1rem
                    background-color: $main
                    text-transform: uppercase
                    color: $light
                    border-radius: 10px
                    box-shadow: 0 2px 10px rgba($dark, .1)
                    width: 100%
                    font-size: 18px
                    cursor: pointer
                    margin: 0 10px

          .item
            padding: 5px
            border-radius: 10px
            @include flex($justify: flex-start)
            width: 100%
            background-color: $light
            box-shadow: 0 4px 10px rgba($dark, .1)
            margin-bottom: 25px
            position: relative

            .status
              position: absolute
              top: 5px
              right: 5px
              padding: .2rem .5rem
              background-color: rgba(#197B2F, .8)
              color: $light
              font-size: 12px
              border-radius: 4px

            img
              height: 130px
              width: 130px
              border-radius: 10px
              object-fit: cover
              margin-right: 10px

            .details
              @include flex($justify: space-between)
              flex-direction: column
              align-items: flex-start
              width: 100%
              height: 100%

              .top-sec
                .name
                  font-size: 16px
                  font-weight: 600
                  margin-bottom: 5px

                .phone, .location
                  @include flex($justify: flex-start)
                  font-size: 12px

                  svg
                    margin-right: 5px

              .bottom-sec
                @include flex($justify: space-between)
                width: 100%
                margin-top: 1rem

                .total-investment, .total-interest
                  @include flex($justify: flex-start)
                  width: 100%

                  img
                    height: 30px
                    width: 30px
                    object-fit: contain

                  .details
                    margin-left: 10px
                    color: $dark

                    .content-title
                      font-weight: 600
                      font-size: 15px

                    .amount
                      font-weight: 400
                      font-size: 13px

      .interest-calculator
        padding: 1.5rem
        border-radius: 10px
        background-color: $light

        h4
          font-size: 18px
          font-weight: 400
          margin: 2rem 0 1rem

        .input-groups
          @include flex($justify: space-between)
          margin-bottom: 1rem

          .input-group
            @include flex($justify: flex-start)
            height: 50px
            width: 100%
            border-radius: 10px
            border: 1.5px solid rgba($dark, .2)

            &:nth-child(2)
              margin: 0 10px

            .icon
              height: 47px
              width: 60px
              @include flex($justify: center)
              background-color: $sec
              border-radius: 9px

              img
                width: 50%

            input
              width: 100%
              padding: .7rem
              height: 100%
              font-size: 16px

        .line
          height: 1px
          background-color: rgba($dark, .1)
          width: 100%
          margin: 1.5rem 0

        button
          height: 50px
          width: 100%
          @include flex($justify: center)
          background-color: $main
          color: $light
          border-radius: 10px
          text-align: center
          text-transform: uppercase
          font-size: 18px
          cursor: pointer

.login-sign-up-page
  position: relative
  @include bgImage()

  &::before
    content: ''
    position: absolute
    top: 0
    right: 0
    bottom: 0
    left: 0
    background-color: rgba(94, 158, 255, 0.85)
    z-index: 1

.login-sign-up-header
  background-color: $light
  padding: 1.2rem 0
  position: relative
  z-index: 2

  .inner
    max-width: 1300px
    margin: 0 auto
    padding: 0 20px
    @include flex($justify: space-between)

  .logo
    @include flex($justify: center)

    img
      width: 150px

  .navlink
    @include flex($justify: flex-end)

    li
      margin-left: 30px

    button
      @include flex($justify: flex-start)
      font-size: 16px

      img
        height: 20px
        width: 20px
        object-fit: contain
        margin-right: 5px

.login-sign-up
  min-height: 84vh
  position: relative
  z-index: 2
  padding: 2rem 0

  .button-group
    @include flex($justify: space-between)
    max-width: 220px
    width: 100%
    margin: 0 auto

    button
      padding: .5rem 1.5rem
      background-color: $light
      color: $main
      border: 1px solid $light
      font-size: 16px
      border-radius: 6px

      &.active
        border: 1px solid $light
        background: none
        color: $light

  .login-sign-up-form
    max-width: 600px
    margin: 2rem auto
    padding: 1.5rem
    background-color: $light
    border-radius: 10px
    box-shadow: 0 4px 10px rgba($dark, .1)
    width: 100%

    form
      @include flex($justify: space-between)
      flex-direction: column
      text-align: center
      width: 100%

    h4
      font-size: 16px
      text-align: center

    img
      height: 50px
      width: 50px
      object-fit: cover
      margin: 1rem 0

    h2
      font-size: 30px
      font-weight: 400
      text-align: center
      text-transform: uppercase
      margin-bottom: 3rem

    .group
      height: 60px
      width: 100%
      position: relative
      margin-top: 2rem

      label
        position: absolute
        top: 50%
        left: 1rem
        transform: translateY(-50%)
        font-size: 16px
        color: rgba($dark, .4)
        font-weight: 600
        @include trans()

        &.shrink
          top: -15px
          color: $sec
          left: 10px

      input
        height: 100%
        width: 100%
        padding: 1rem
        font-size: 16px
        border-radius: 10px
        border: 1.5px solid rgba($dark, .2)

        &:focus
          border-color: $sec

        &:focus ~ .form-input-label
          top: -15px
          color: $sec
          left: 10px

    button
      margin-top: 2rem
      height: 50px
      width: 130px
      font-size: 16px
      color: $light
      background-color: $main
      border-radius: 10px

footer
  position: relative
  z-index: 1

  .copyright
    font-size: 18px
    color: $dark
    padding: 1rem
    background-color: $light
    text-align: center
